* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

.u-page-content-center {
  height: 100vh;
  width: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
}

.u-page-container {
  width: inherit;
}
